# old files
recycle_bin/

# databases containing private data
*.db
*.sqlite

# backups containing parts of the databases mentioned above
backups/
*.backup

# private login data
gunicorn.conf.py
key.bin
.env

# not usable on other computers
venv/
.venv/
.idea/
__pycache__/
*.pyc

# test of new features and possibilities
tests/
test/

# log files
*.log
logs/

# generated
build/
tmp/
temp/
