blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==3.1.0
gunicorn==23.0.0
idna==3.10
iso3166==2.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pip==25.0.1
pypng==0.20220715.0
python-dotenv==1.0.1
python-stdnum==1.20
qrbill==1.1.0
qrcode==8.0
requests==2.32.3
setuptools==75.8.2
svgwrite==1.4.3
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
wheel==0.45.1
