ul{
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  button{
    border: #3f51b5 0.15em solid;
    margin: 0.4em;
  }
}
mat-divider{
  margin-top: 2em;
  margin-bottom: 2em;
}
.ul-container{
  text-align: center;
  li{
    margin: 0 0.5em;
  }
}
