<!DOCTYPE html>
<html lang="de-CH">
<head>
    <meta charset="UTF-8">
    <title>IP-Adresse gesperrt | IP-address blocked - [ksalp.ch]</title>
    <link rel="stylesheet" href="/error_www/502.css">
    <link rel="apple-touch-icon" sizes="60x60" href="/error_www/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/error_www/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/error_www/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/error_www/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/error_www/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/error_www/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/error_www/favicons/favicon-16x16.png">
    <link rel="manifest" href="/error_www/favicons/site.webmanifest">
    <link rel="mask-icon" href="/error_www/favicons/safari-pinned-tab.svg" color="#888888">
    <link rel="shortcut icon" href="/error_www/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-TileImage" content="/error_www/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/error_www/favicons/browserconfig.xml">
    <meta name="theme-color" content="#333333">
</head>
<body>
<div class="main">
    <h1><img src="/error_www/logo.svg" alt="ksalp.ch"></h1>
    <div class="deutsch" lang="de-CH">
        <h3>Deutsch</h3>
        <p>Der Zugriff auf diese Webseite (ksalp.ch) von Ihrer IP-Adresse wurde gesperrt. Dies kann mehrere Gründe haben,
            unter anderem eine Einschätzung unserer automatisierten Überwachungssysteme oder eine manuelle Überprüfung der
            Log-Dateien. Falls Sie denken, dass es sich bei dieser Sperrung um einen Fehler handelt, kontaktieren Sie bitte
            den*die Betreiber*in.</p>
        <p>Ihre IP-Adresse lautet: {{ ip }}</p>
    </div>
    <div class="english" lang="en">
        <h3>English</h3>
        <p>Access to this website (ksalp.ch) from your IP address has been blocked. This may be due to several reasons,
            including an assessment of our automated monitoring systems or a manual review of the log files. If you think
            that this blocking is a mistake, please contact the operator.</p>
        <p>Your IP-address is: {{ ip }}</p>
    </div>
</div>
</body>
</html>
