<div id="container">
  <h2>Dokumente</h2>
  <mat-divider></mat-divider>
  @if (account !== null && account.isValid()){
    <p><a routerLink="/dokumente/neu">Dokument hochladen</a></p>
  } @else {
    <p>Sie müssen angemeldet sein, um Dokumente hochladen zu können.</p>
  }
  <mat-divider></mat-divider>
  <h3>Filter</h3>
  <br>
  <div id="inputs">
    <mat-form-field [style.width.em]="16">
      <mat-label>Titel & Beschreibung</mat-label>
      <input placeholder="" matInput type="text" [formControl]="text" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Klasse</mat-label>
      <input placeholder="G21a | SBC-5B" matInput type="text" [formControl]="class_" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Klassenstufe</mat-label>
      <mat-select [formControl]="grade" (selectionChange)="update()">
        @for (grade of ['', '-', '1', '2', '3', '4', '5', '6', '7']; track grade){
          <mat-option [value]="grade">{{grade}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Fach (Kürzel)</mat-label>
      <input placeholder="MA" matInput type="text" [formControl]="subject" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Sprache (Kürzel)</mat-label>
      <input placeholder="de" matInput type="text" [formControl]="language_" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Ersteller*in</mat-label>
      <input placeholder="Name" matInput type="text" [formControl]="creator" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>später erstellt als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="createdAfter" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>früher erstellt als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="createdBefore" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>später bearbeitet als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="editedAfter" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>früher bearbeitet als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="editedBefore" (keyup)="update()">
    </mat-form-field>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  @for (document of documents; track document) {
    @if (displayDocuments.includes(document.getId())) {
      <mat-card appearance="raised" routerLink="/dokumente/vorschau/{{document.getId()}}">
        <mat-card-header>
          <mat-card-title>[{{document.getSubject().toUpperCase()}}] {{document.getTitle()}}</mat-card-title>
          <mat-card-subtitle>[{{document.getExtension().toUpperCase()}} {{document.getFormatedSize()}}] {{document.getCreated().split('_')[0]}} bis {{document.getEdited().split('_')[0]}} von <i>{{document.getOwnerName()}}</i></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    }
  }
  @if (displayDocuments.length === 0) {
    <p>Es konnten keine Dokumente gefunden werden, die den angegebenen Filterkriterien entsprechen.</p>
  }
  <br>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <br>
</div>
