.center{
  text-align: justify;
  text-align-last: center;
}
.main{
  padding: 2em;
  @media (max-width: 35em) {
    padding: 0;
  }
}
h1{
  padding: 0;
  margin: -1em 0 0;
  font-size: 2.4em;
  text-align: center;
}
ul{
  list-style: none;
  display: inline-flex;
}
.ul-container{
  text-align: center;
  li{
    margin: 0 0.5em;
  }
}

.signin{
  text-align: center;
  * {
    box-sizing: border-box;
  }
}
.search{
  display: inline-flex;
}
#search{
  font-size: 1.4em;
  border-radius: 0.4em;
  border: 0;
  padding: 0.2em 2em 0.2em 0.5em;
  background-color: #f7f7f7;
  max-width: calc(100vw - 14em - 2 * 0.8em - 2em - 2em);
  @media (max-width: 42em) {
    max-width: calc(100vw - 2 * 1em - 5em);
  }
}
#submit{
  border-radius: 0.4em;
  border: 0;
  padding: 0.2em 0.5em;
  background-color: #f7f7f7;
  margin-left: -3.2em;
}
mat-card{
  cursor: pointer;
  width: 14em;
  height: 14em;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  grid-gap: 1em;
}
.landing{
  & table{
    table-layout: fixed;
  }
  & td{
    vertical-align: center;
    height: 8em;
  }
  & .table-large{
    font-size: 2em;
    font-weight: bold;
    width: 24%;
  }
  & .table-small{
    font-size: 1.2em;
    width: 40%;
  }
  & a{
    margin: 0.2em;
  }
}
