<div id="container">
  <h2>Allgemeine Geschäftsbedingungen</h2>
  <p>Stand: 2024-06-24</p>
  <mat-divider></mat-divider>
  <h3>Inhaltsverzeichnis</h3>
  <ul class="contents-list">
    <li><button mat-button (click)="scrollToElement(zustimmung)">Zustimmung</button></li>
    <li><button mat-button (click)="scrollToElement(missbrauch)">Missbräuchliche Nutzung</button></li>
    <li><button mat-button (click)="scrollToElement(ausschluss)">Ausschluss (Ban)</button></li>
    <li><button mat-button (click)="scrollToElement(garantie)">Garantie</button></li>
    <li><button mat-button (click)="scrollToElement(lernsets)">Lernsets</button></li>
    <li><button mat-button (click)="scrollToElement(links)">Links</button></li>
    <li><button mat-button (click)="scrollToElement(hochladen)">Hochladen von Daten</button></li>
    <li><button mat-button (click)="scrollToElement(verstoesse)">Verstösse</button></li>
    <li><button mat-button (click)="scrollToElement(sicherheitsluecken)">Sicherheitslücken</button></li>
    <li><button mat-button (click)="scrollToElement(salvatorische)">Salvatorische Klausel</button></li>
    <li><button mat-button (click)="scrollToElement(aenderungen)">Änderungen</button></li>
  </ul>
  <mat-divider></mat-divider>
  <h3 #zustimmung>Zustimmung</h3>
  <p>Mit der Benutzung dieser Webseite stimmen Sie diesen Allgemeinen Geschäftsbedingungen und den <a routerLink="/über/datenschutz">Datenschutzbestimmungen</a> zu. Eine Ablehnung ist nur möglich, indem Sie auf die Benutzung dieser Webseite verzichten. Falls Sie von Gesetzes wegen nicht Ihre Zustimmung erteilen können, müssen Sie die Zustimmung bei Ihrer gesetzlichen Vertretung einholen.</p>
  <mat-divider></mat-divider>
  <h3 #missbrauch>Missbräuchliche Nutzung</h3>
  <p>Die missbräuchliche Nutzung dieser Webseite ist untersagt. Dazu gehören auch, aber nicht nur, folgende Handlungen:</p>
  <ul>
    <li><p>Denial-of-Service-Angriffe und Distributed-Denial-of-Service-Angriffe</p></li>
    <li><p>Jegliche Form von Cyberangriffen und Hacking</p></li>
    <li><p>Automatisiertes Crawling, ausser Sie betreiben eine renommierte Suchmaschine</p></li>
    <li><p>Verbreiten von illegalen, nicht-jugendfreien und/oder irreführenden Inhalten, inklusive Falschmeldungen</p></li>
  </ul>
  <p>Der Versuch der missbräuchlichen Nutzung ist untersagt.</p>
  <mat-divider></mat-divider>
  <h3 #ausschluss>Ausschluss (Ban)</h3>
  <p>Wir behalten uns das Recht vor, grundlos den Zugang zu dieser Webseite gegenüber Einzelpersonen zu verweigern. Dies ist nicht die Norm, sondern dazu gedacht, in Fällen von unklarheit dieser Allgemeinen Geschäftsbedingungen eindeutigkeit zu schaffen. Diese Bestimmung wird nicht gegen geschützte Personengruppe in einer diskriminierenden Art eingesetzt.</p>
  <mat-divider></mat-divider>
  <h3 #garantie>Garantie</h3>
  <p>Wir haben alles mit besten Gewissen erstellt und versuchen unser Bestes, die Qualität und Sicherheit dieser Webseite zu gewährleisten. Da wir kein Geld mit ksalp.ch verdienen, fügen wir trotzdem den folgenden Haftungsausschluss ein:</p>
  <p>Diese Webseite wird ohne jede ausdrückliche oder implizierte Garantie bereitgestellt, einschließlich der Garantie der Marktreife, der Eignung für einen bestimmten Zweck und der Nichtverletzung von Rechten Dritter. In keinem Fall sind der Urheber oder die Urheberrechtsinhaber haftbar für jeglichen Schaden, einschließlich direkter, indirekter, zufälliger, besonderer Schäden oder Folgeschäden, die sich aus der Nutzung, Missbrauch, Unmöglichkeit der Nutzung, Veräußerung oder anderen Umgangs mit dieser Webseite ergeben (einschließlich, aber nicht beschränkt auf Schäden an der Datenverarbeitung, Vorgängen oder Informationssystemen, deren Wiederherstellung, Verarbeitung oder Dienstleistungen), selbst wenn sie über die Möglichkeit solcher Schäden informiert worden sind. Diese Webseite enthält Inhalte, welche von anderen Nutzerinnen und Nutzern erstellt wurden und deren Überwachung weder automatisiert noch ständig möglich ist.</p>
  <mat-divider></mat-divider>
  <h3 #lernsets>Lernsets</h3>
  <p>Die Schätzung der Note bei allen Lernsets ist nicht korrekt.</p>
  <mat-divider></mat-divider>
  <h3 #links>Links</h3>
  <p>Unser Angebot enthält Links auf andere Webseiten. Wenn Sie auf einen Link klicken, werden Sie zu der betreffenden Webseite weitergeleitet. Wir besitzen keinen Einfluss auf die Inhalte und Prozesse der betreffenden Webseite. Es gelten die jeweiligen Allgemeinen Geschäftsbedingungen der betreffenden Webseiten. Obwohl wir alle Links zum Zeitpunkt des Erstellens überprüft haben, übernehmen wir keine Haftung für die Inhalte und Prozesse der betreffenden Webseiten.</p>
  <mat-divider></mat-divider>
  <h3 #hochladen>Hochladen und/oder Veröffentlichung von Daten</h3>
  <p>Indem Sie Daten auf unserer Webseite hochladen oder veröffentlichen, bestätigen Sie, dass diese Daten korrekt, legal, jugendfrei und nur für Bildungszwecke gedacht sind und Sie die Recht (Urheberrecht, Bewilligung, gesetzliche Ausnahme) haben, diese Daten zu veröffentlichen. Diese Daten dürfen dann von anderen Personen heruntergeladen, gespeichert und für Bildungszwecke verwendet und bearbeitet werden. Standardmässig müssen dabei diese Personen Sie für das Erstellen nennen, falls Sie die Daten teilen, auch beim Hochladen einer veränderten Version auf dieser Webseite. Beim veröffentlichen ist Ihr Name sowie das Datum und die Uhrzeit der Veröffentlichung einsehbar.</p>
  <mat-divider></mat-divider>
  <h3 #verstoesse>Verstösse</h3>
  <p>Falls Sie Verstösse feststellen, müssen Sie diese schriftlich den Betreiberinnen von ksalp.ch melden.</p>
  <mat-divider></mat-divider>
  <h3 #sicherheitsluecken>Sicherheitslücken</h3>
  <p>Es ist leider nicht ausgeschlossen, dass Sicherheitslücken in dieser Webseite existieren. Diese dürfen nicht genutzt werden. Falls Sie eine finden oder davon in Kenntnis gesetzt werden, müssen Sie diese schriftlich den Betreiberinnen von ksalp.ch melden.</p>
  <mat-divider></mat-divider>
  <h3 #salvatorische>Salvatorische Klausel</h3>
  <p>Die <a href="https://law.ch/lawinfo/vertrag-vertragsrecht/vertragsklauseln/standardklauseln/salvatorische-klausel/">Salvatorische Klausel</a> gilt gemäss <a href="https://www.fedlex.admin.ch/eli/cc/27/317_321_377/de#art_20">Art. 20 Abs.2 OR</a>. Ausserdem führt die Nichtdurchsetzung von Teilen oder der ganzen Allgemeinen Geschäftsbedingungen nicht zu deren Ungültigkeit.</p>
  <mat-divider></mat-divider>
  <h3 #aenderungen>Änderungen</h3>
  <p>Wir behalten uns das Recht vor, diese Allgemeinen Geschäftsbedingungen jederzeit zu ändern. Falls Sie ein Konto besitzen und Benachrichtigungen per E-Mail zulassen, werden wir Sie über Änderungen informieren. Dies können Sie in den <a routerLink="/einstellungen">Einstellungen</a> anpassen.</p>
  <mat-divider></mat-divider>
  <br>
  <br>
  <br>
</div>
