<div id="container">
  <h2>Impressum</h2>
  <mat-divider></mat-divider>
  <h3>Betreiberin</h3>
  <p><i>{{imprint.name}}</i></p>
  <p><i>{{imprint.address}}</i></p>
  <p><i>{{imprint.city}}</i></p>
  <p><i>{{imprint.mail}}</i></p>
  <mat-divider></mat-divider>
  <p>Bitte beachten Sie ausserdem die <a routerLink="/über/agb">Allgemeinen Geschäftsbedingungen</a> und die Informationen zum <a routerLink="/über/datenschutz">Datenschutz</a>.</p>
  <mat-divider></mat-divider>
  <br>
  <br>
  <br>
</div>
