@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("/static/fonts/Roboto.ttf") format('truetype');
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/static/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  src: url("/static/fonts/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  src: url("/static/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  font-style: italic;
  src: url("/static/fonts/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/Material-Icons.woff2") format('woff2');
}
body{
  font-family: "Montserrat", "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  z-index: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

