<div id="container">
  <h2>Das Team</h2>
  <mat-divider></mat-divider>
  <table>
    <tr>
      <td class="name">
        <p>Lena Merkli</p>
      </td>
      <td class="description">
        <p>Lena Merkli ist die Gründerin und leitende Programmiererin von ksalp.ch.</p>
        <a mat-stroked-button color="secondary" target="_blank" href="https://github.com/lenamerkli">GitHub</a>
        <a mat-stroked-button color="secondary" target="_blank" href="https://huggingface.co/lenamerkli">Hugging Face</a>
      </td>
    </tr>
  </table>
  <mat-divider></mat-divider>
  <p>Wir suchen nach weiteren Team-Mitgliedern! <a routerLink="/über/kontakt">Bewerben</a></p>
</div>
