<div id="container">
  <h2>Datenschutz</h2>
  <h3>Inhaltsverzeichnis</h3>
  <ul class="contents-list">
    <li><button mat-button (click)="scrollToElement(zustimmung)">Zustimmung</button></li>
    <li><button mat-button (click)="scrollToElement(verantwortliche)">Verantwortliche Person</button></li>
    <li><button mat-button (click)="scrollToElement(rechte)">Ihre Rechte</button></li>
    <li><button mat-button (click)="scrollToElement(verschluesselung)">Verschlüsselung</button></li>
    <li><button mat-button (click)="scrollToElement(logdaten)">Logdaten</button></li>
  </ul>
  <h3 #zustimmung>Zustimmung</h3>
  <p>Mit der Benutzung dieser Webseite stimmen Sie diesen Datenschutzbestimmungen zu. Eine Ablehnung ist nur möglich, indem Sie auf die Benutzung dieser Webseite verzichten. Falls Sie von Gesetzes wegen nicht ihre Zustimmung erteilen können, müssen Sie die Zustimmung bei Ihrer gesetzlichen Vertretung einholen.</p>
  <h3 #verantwortliche>Verantwortliche Person</h3>
  <p>Die für den Datenschutz verantwortliche Person gemäss <a href="https://srl.lu.ch/app/de/texts_of_law/38">Art. 8 Abs. 4a SLR 38</a> ist:</p>
  <p><i>{{imprint.name}}</i></p>
  <p><i>{{imprint.address}}</i></p>
  <p><i>{{imprint.city}}</i></p>
  <p><i>{{imprint.mail}}</i></p>
  <h3 #rechte>Ihre Rechte</h3>
  <p>Sie haben gemäss <a href="https://srl.lu.ch/app/de/texts_of_law/38">Art. 15 bis 18 SLR 38</a> das Recht auf Auskunft ob und in welcher Form Personendaten über Sie bearbeitet werden. Sie haben das Recht, die Personendaten, welche wir bearbeiten und oder speichern, als solche einzusehen. Weitere Rechte wie das Recht auf Datenlöschung, Datenberichtigung, Einschränkung der Datenverarbeitung und das Recht auf Datenübertragung sind im gesetzlich vorgeschriebenen Rahmen vorhanden.</p>
  <h3 #verschluesselung>Verschlüsselung</h3>
  <p>Aus Sicherheitsgründen und zum Schutz der Übertragung personenbezogener Daten und anderer vertraulicher Inhalte setzen wir auf unserer Website eine SSL- beziehungsweise eine TLS-Verschlüsselung ein. Dies können Sie in Ihrem Webbrowser an der Zeichenfolge "<i>https://</i>" und dem Schloss-Symbol erkennen.</p>
  <h3 #logdaten>Logdaten</h3>
</div>
