<div id="container">
  <h2>Lernsets</h2>
  <mat-divider></mat-divider>
  @if (account !== null && account.isValid()){
    <p><a mat-raised-button color="primary" routerLink="/lernsets/neu">Lernset hochladen</a></p>
  } @else {
    <p>Sie müssen angemeldet sein, um Lernsets hochladen zu können.</p>
  }
  <mat-divider></mat-divider>
  <h3>Filter</h3>
  <br>
  <div id="inputs">
    <mat-form-field [style.width.em]="16">
      <mat-label>Titel & Beschreibung</mat-label>
      <input placeholder="vocabulaire unité 1" matInput type="text" [formControl]="text" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Klasse</mat-label>
      <input placeholder="G21a | SBC-5B" matInput type="text" [formControl]="class_" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Klassenstufe</mat-label>
      <mat-select [formControl]="grade" (selectionChange)="update()">
        @for (grade of ['', '-', '1', '2', '3', '4', '5', '6', '7']; track grade){
          <mat-option [value]="grade">{{grade}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Fach (Kürzel)</mat-label>
      <input placeholder="FR" matInput type="text" [formControl]="subject" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Sprache (Kürzel)</mat-label>
      <input placeholder="fr" matInput type="text" [formControl]="language_" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>Ersteller*in</mat-label>
      <input placeholder="Name" matInput type="text" [formControl]="creator" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>später erstellt als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="createdAfter" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>früher erstellt als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="createdBefore" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>später bearbeitet als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="editedAfter" (keyup)="update()">
    </mat-form-field>
    <mat-form-field [style.width.em]="16">
      <mat-label>früher bearbeitet als</mat-label>
      <input placeholder="2024-08-19" matInput type="text" [formControl]="editedBefore" (keyup)="update()">
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <p>{{displayLearnsets.length}} Lernsets werden angezeigt | {{selectedCount}} Lernsets ausgewählt</p>
  <ul class="actions-list">
    <li><button mat-raised-button color="secondary" (click)="clearSelection()">Alle abwählen</button></li>
    <li><button mat-raised-button color="primary" (click)="submit()"><b>Lernen</b></button></li>
  </ul>
  <mat-divider></mat-divider>
  <br>
  @for (learnset of learnsets; track learnset) {
    @if (displayLearnsets.includes(learnset.getId())) {
      <mat-card appearance="raised">
        <mat-card-header>
          <mat-card-title (click)="toggleFormControl(learnset.getId())">
            @if (formControls[learnset.getId()].value) {
              <mat-icon >check_circle</mat-icon>
            } @else {
              <mat-icon>radio_button_unchecked</mat-icon>
            }
            [{{learnset.getSubject().toUpperCase()}}] {{learnset.getTitle()}}
          </mat-card-title>
          <mat-card-subtitle>[{{learnset.getSize()}} Elemente] {{learnset.getCreated().split('_')[0]}} bis {{learnset.getEdited().split('_')[0]}} von <i>{{learnset.getOwnerName()}}</i> | <a routerLink="/lernsets/vorschau/{{learnset.getId()}}">Vorschau</a></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    }
  }
  @if (displayLearnsets.length === 0) {
    <p>Es konnten keine Lernsets gefunden werden, die den angegebenen Filterkriterien entsprechen.</p>
  }
  <br>
  <br>
  <mat-divider></mat-divider>
  @if (displayLearnsets.length !== 0) {
    <br>
    <ul class="actions-list">
      <button mat-raised-button color="primary" (click)="submit()"><b>Lernen</b></button>
    </ul>
    <mat-divider></mat-divider>
  }
  <br>
  <br>
  <br>
</div>
